# Book Core

Jonny Tesfahun
08/18/22

![png](book.png)

In [17]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

username = ''
password = ''

connection = f'mysql+pymysql://{username}:{password}@localhost/books'
engine = create_engine(connection)

In [18]:
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [20]:
q = ''' SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT user.idUser FROM user WHERE (user.last_name = "Doe" AND user.first_name = "John"));

 '''

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1